@charset "UTF-8";
@-webkit-keyframes text-up {
  from {
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes text-up {
  from {
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes animateIcon {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(0) scaleY(0.5) rotate3d(0, 1, 0, 0deg);
    transform: translateY(0) scaleY(0.5) rotate3d(0, 1, 0, 0deg); }
  50% {
    -webkit-transform: translateY(-10px) scaleY(1) rotate3d(0, 1, 0, 720deg);
    transform: translateY(-10px) scaleY(1) rotate3d(0, 1, 0, 720deg); }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1); } }

@keyframes animateIcon {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(0) scaleY(0.5) rotate3d(0, 1, 0, 0deg);
    transform: translateY(0) scaleY(0.5) rotate3d(0, 1, 0, 0deg); }
  50% {
    -webkit-transform: translateY(-10px) scaleY(1) rotate3d(0, 1, 0, 720deg);
    transform: translateY(-10px) scaleY(1) rotate3d(0, 1, 0, 720deg); }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1); } }

.line {
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: line 1200ms forwards ease-in-out infinite alternate;
  animation: line 1200ms forwards ease-in-out infinite alternate; }

@-webkit-keyframes line {
  0% {
    -webkit-transform: translate(-50%, -12%);
    -moz-transform: translate(-50%, -12%);
    -ms-transform: translate(-50%, -12%);
    -o-transform: translate(-50%, -12%);
    transform: translate(-50%, -12%); }
  to {
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); } }

@keyframes line {
  0% {
    -webkit-transform: translate(-50%, -12%);
    -moz-transform: translate(-50%, -12%);
    -ms-transform: translate(-50%, -12%);
    -o-transform: translate(-50%, -12%);
    transform: translate(-50%, -12%); }
  to {
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); } }

body {
  font-family: "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #4A4A4A; }

.img-responsive {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #fff;
  word-break: break-all;
  text-decoration: none; }

.clearfix:after {
  display: block;
  content: ".";
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  clear: both; }

.top-btn {
  position: fixed;
  cursor: pointer;
  z-index: 1;
  right: 20px;
  bottom: 14%;
  display: none;
  text-align: center; }
  .top-btn img {
    max-width: 25px; }
  .top-btn .qr {
    max-width: 100px;
    margin-bottom: 10px; }

.esunlogo {
  display: block;
  float: left;
  margin: 10px; }

header {
  background: #00AC9D;
  background-size: 100% 100%;
  border-bottom: 2px solid #D3006E;
  z-index: 10;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  header .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; }

.navFixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0; }

.target-burger {
  right: 0;
  top: 0;
  width: 3.25em;
  height: 3.25em;
  position: absolute;
  display: block;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.buns {
  width: 1.625em;
  height: 1.625em;
  list-style: none;
  margin: -0.8125em 0 0 -0.8125em;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color: #fff;
  -webkit-transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); }
  .buns li {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -0.75px;
    -webkit-transform: translateY(-3.75px) translateZ(0);
    transform: translateY(-3.75px) translateZ(0);
    -webkit-transition: background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); }
    .buns li:last-child {
      -webkit-transform: translateY(3.75px) translateZ(0);
      transform: translateY(3.75px) translateZ(0); }

nav ul {
  list-style: none; }
  nav ul li {
    font-size: 16px;
    margin: 0 10px; }
    nav ul li a {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }

.kv {
  background: url(../img/bg.jpg);
  background-size: cover;
  min-height: 928px;
  padding-top: 95px;
  background-position: center; }
  .kv .btn-group a {
    position: relative;
    display: inline-block;
    max-width: 177px;
    width: 100%;
    border-radius: 20px;
    background: #5fbea1;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    text-align: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin: 0 10px; }
    .kv .btn-group a:hover {
      -webkit-box-shadow: 0 3px 10px #055f5b;
      box-shadow: 0 3px 10px #055f5b; }
      .kv .btn-group a:hover b {
        opacity: 1; }
    .kv .btn-group a:first-child:hover b {
      left: -172px; }
    .kv .btn-group a:first-child b {
      left: -152px; }
    .kv .btn-group a:last-child {
      background: #009e96; }
      .kv .btn-group a:last-child:hover b {
        right: -183px; }
      .kv .btn-group a:last-child b {
        right: -203px; }
    .kv .btn-group a b {
      font-size: 16px;
      color: #231815;
      position: absolute;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      top: 15px;
      opacity: 0; }
      .kv .btn-group a b img {
        max-width: 22px;
        width: 100%;
        margin: 0 3px; }
    .kv .btn-group a .link {
      display: inline-block;
      vertical-align: middle;
      width: 17px;
      margin-bottom: 6px;
      margin-left: 5px; }
  .kv .title {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center; }
    .kv .title .icon {
      position: absolute;
      max-width: 106px;
      width: 100%; }
    .kv .title .icon-1 {
      left: 0;
      top: 0px; }
    .kv .title .icon-2 {
      left: 100px;
      top: 109px; }
    .kv .title .icon-3 {
      max-width: 80px;
      width: 100%;
      right: 5px;
      top: 70px; }
    .kv .title .icon-4 {
      right: 67px;
      top: 8px; }
    .kv .title .icon-sm {
      max-width: 33px;
      width: 100%;
      position: absolute; }
    .kv .title p {
      font-size: 20px; }
    .kv .title .h1-wrap {
      overflow-y: hidden; }
    .kv .title h1 {
      font-size: 42px;
      color: #d33064;
      margin: 0;
      -webkit-animation: text-up 1.5s cubic-bezier(0.4, 0, 0.2, 1) both;
      animation: text-up 1.5s cubic-bezier(0.4, 0, 0.2, 1) both; }
      .kv .title h1 span {
        font-size: 33px;
        display: block;
        margin-top: 10px; }

.fancybox-button svg path {
  fill: #fff; }

.fancybox-content .content {
  line-height: 28px; }

.fancybox-content .fancybox-button {
  background: #00AC9D; }

.activity {
  margin: 100px 0; }
  .activity .row {
    max-width: 1155px;
    width: 100%;
    text-align: center;
    margin: 60px auto; }
  .activity .col-6 {
    max-width: 500px;
    width: 100%;
    margin: 0 22px;
    border-radius: 30px;
    border: 1px solid #63be98;
    display: inline-block;
    text-align: center; }
    .activity .col-6:last-child {
      border-color: #f5d041; }
      .activity .col-6:last-child h3 {
        background: #f5d041; }
    .activity .col-6 ol {
      text-align: left;
      display: table;
      margin: 0 auto;
      line-height: 25px;
      font-size: 16px; }
    .activity .col-6 .con {
      padding: 46px 0;
      text-align: center; }
      .activity .col-6 .con a {
        color: #727171;
        display: block; }
        .activity .col-6 .con a img {
          max-width: 24px;
          width: 100%;
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
          margin-bottom: 5px; }
      .activity .col-6 .con p {
        font-size: 20px;
        margin-top: 0;
        line-height: 32px; }
        .activity .col-6 .con p span {
          font-size: 26px; }
    .activity .col-6 h3 {
      background: #63be98;
      font-size: 22px;
      color: #fff;
      margin-top: 0;
      border-radius: 30px 30px 0 0;
      padding: 18px;
      text-align: center;
      font-weight: 400;
      margin-bottom: 0; }
      .activity .col-6 h3 span {
        font-size: 34px;
        font-style: italic; }
  .activity .sub-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #ec6858; }
  .activity .gift {
    max-width: 230px;
    width: 100%;
    margin: 36px auto;
    position: relative;
    height: 169px; }
    .activity .gift p {
      color: #d33064;
      margin-top: 14px !important;
      top: 39px;
      margin: 0; }
    .activity .gift .base {
      max-width: 114px;
      width: 100%; }
    .activity .gift .coupun {
      position: absolute;
      top: 0;
      max-width: 100px;
      width: 100%;
      left: 94px; }
  .activity .pot {
    max-width: 230px;
    width: 100%;
    margin: 36px auto;
    position: relative; }
    .activity .pot .base {
      max-width: 95px;
      width: 100%; }
    .activity .pot .icon-pot {
      max-width: 114px;
      width: 100%;
      position: absolute;
      left: 26px; }
    .activity .pot p {
      color: #d33064;
      position: absolute;
      top: 39px;
      margin: 0;
      right: -23px;
      text-align: left; }

.steps {
  background: #fcf3ec;
  padding: 60px 0; }
  .steps .btn-group {
    text-align: center;
    margin-top: 90px; }
    .steps .btn-group a {
      max-width: 175px;
      width: 100%;
      display: inline-block;
      font-size: 20px;
      border: 1px solid #ef816c;
      color: #ef816c;
      padding: 10px;
      margin: 0 10px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      background: #fff; }
      .steps .btn-group a:first-child {
        background: #e95056;
        color: #fff; }
      .steps .btn-group a:hover {
        -webkit-box-shadow: 0 3px 10px #ef816c;
        box-shadow: 0 3px 10px #ef816c; }
      .steps .btn-group a svg {
        display: inline-block;
        vertical-align: middle;
        width: 17px;
        margin-bottom: 6px;
        margin-left: 5px; }
  .steps .sub-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #3e3a39; }
  .steps .row {
    max-width: 1100px;
    width: 100%;
    margin: 90px auto;
    text-align: center; }
  .steps .col-4 {
    max-width: 338px;
    width: 100%;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle; }
    .steps .col-4:first-child .number::before {
      content: url(../img/one.svg); }
    .steps .col-4:nth-child(2) .number::before {
      content: url(../img/two.svg); }
    .steps .col-4:last-child .number::before {
      content: url(../img/three.svg); }
    .steps .col-4 .number {
      position: relative;
      margin-bottom: 40px; }
      .steps .col-4 .number h3 {
        color: #eb5d42;
        font-size: 20px;
        margin-bottom: 0; }
      .steps .col-4 .number p {
        font-size: 16px;
        margin-top: 10px; }
      .steps .col-4 .number::before {
        position: absolute;
        max-width: 50px;
        width: 100%;
        left: 0px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .steps .col-4:hover .origin {
      display: none; }
    .steps .col-4:hover .hover {
      display: inline-block; }
    .steps .col-4 img {
      max-width: 158px;
      width: 100%;
      height: 133px; }
    .steps .col-4 .hover {
      display: none; }

.choose {
  margin: 80px 0; }
  .choose .sub-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #eb6478; }
  .choose .row {
    max-width: 1160px;
    width: 100%;
    margin: 60px auto;
    text-align: center; }
  .choose .col-4 {
    max-width: 325px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px; }
    .choose .col-4 .con {
      text-align: left; }
    .choose .col-4 ul {
      padding-left: 18px;
      text-align: left; }
      .choose .col-4 ul li {
        line-height: 26px; }
      .choose .col-4 ul b {
        font-weight: bold; }
    .choose .col-4 h3 {
      font-size: 18px;
      color: #63be98; }
      .choose .col-4 h3 span {
        font-size: 14px;
        color: #4A4A4A;
        display: block;
        margin-top: 10px;
        font-weight: normal; }

hr {
  border-color: #e4f3f5;
  height: 17px;
  border: 0;
  border-top: 1px solid #e4f3f5; }

.Raiders {
  padding: 60px 0;
  background: #e4f3f5; }
  .Raiders .sub-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #33a7a1; }
  .Raiders .row {
    max-width: 1160px;
    width: 100%;
    margin: 60px auto;
    text-align: center;
    position: relative; }
    .Raiders .row > img {
      max-width: 150px;
      width: 100%;
      position: absolute;
      left: 41px;
      top: -68px;
      z-index: 2; }
  .Raiders .row-2 .txt {
    margin: 0;
    margin-right: 30px; }
  .Raiders .pic {
    max-width: 526px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .Raiders .pic:hover::before {
      left: 0px;
      top: 0px; }
    .Raiders .pic img {
      display: block;
      position: relative; }
    .Raiders .pic::before {
      content: '';
      width: 100%;
      height: 100%;
      background: #fff;
      position: absolute;
      z-index: 0;
      border-radius: 30px;
      left: 10px;
      top: 8px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .Raiders .txt {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    text-align: left; }
    .Raiders .txt h3 {
      font-size: 20px; }
    .Raiders .txt p {
      font-size: 16px; }
    .Raiders .txt a {
      max-width: 135px;
      width: 100%;
      display: block;
      font-size: 20px;
      border: 1px solid #33a7a1;
      color: #33a7a1;
      padding: 10px;
      background: #fff;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .Raiders .txt a:hover {
        -webkit-box-shadow: 0 3px 10px #9ac9c7;
        box-shadow: 0 3px 10px #9ac9c7; }
      .Raiders .txt a svg {
        display: inline-block;
        vertical-align: middle;
        width: 17px;
        margin-bottom: 6px;
        margin-left: 5px; }

.wrapper {
  max-width: 1176px;
  width: 100%;
  margin: 100px auto; }
  .wrapper .sub-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #231815;
    margin-bottom: 60px; }
  .wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0; }

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .tabs li {
    width: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 12px;
    border: 1px solid #009e96;
    color: #009e96;
    border-bottom: transparent;
    cursor: pointer; }
  .tabs .active {
    background: #009e96;
    color: #fff; }

.qa-section {
  max-width: 979px;
  width: 100%;
  margin: 0 auto 26px; }
  .qa-section .answer {
    display: none;
    border-bottom: 1px solid;
    padding-bottom: 15px; }
    .qa-section .answer p {
      margin: 0;
      line-height: 26px; }

.active-qa h3 {
  color: #009e96;
  font-weight: 600 !important; }

.active-qa .cls-a {
  stroke: #009e96; }

.active-qa .cls-b {
  fill: #009e96; }

.tab__content {
  border: 1px solid #009e96;
  margin: 0;
  padding: 30px 0 !important; }
  .tab__content li {
    display: none; }
    .tab__content li h3 {
      position: relative;
      font-weight: 400; }
      .tab__content li h3 svg {
        width: 13px;
        display: inline-block;
        margin-right: 10px;
        position: absolute;
        left: -25px;
        top: 3px; }

.footer_notice {
  background: #f1f1f1;
  border-top: 1px solid #d20165; }
  .footer_notice .container_fluid {
    margin: 0 auto;
    max-width: 1200px;
    position: relative; }
  .footer_notice ul {
    display: table;
    text-align: left;
    list-style: circle;
    margin-left: 20px;
    padding: 10px 20px;
    margin: 0 auto; }
    .footer_notice ul li {
      font-size: 12px;
      line-height: 18px;
      padding: 2px; }
      .footer_notice ul li i {
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        font-style: normal; }

.footer {
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #D20065; }
  .footer .anchor {
    text-align: center;
    padding: 14px 0;
    margin: 0; }
    .footer .anchor li {
      display: inline-block;
      color: #fff;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.06em; }
      .footer .anchor li::before {
        color: #30ABAF;
        content: "|";
        padding: 0 5px 0 1px; }
    .footer .anchor li.first::before {
      content: " ";
      padding: 0 5px 0 0;
      color: transparent; }

.carousel_btn:focus {
  outline: none; }

@media screen and (min-width: 801px) {
  .esun-sec .col-3 {
    height: 607px; }
  .buns {
    display: none; }
  nav {
    float: right;
    width: auto; }
    nav ul li {
      display: inline-block; } }

@media screen and (max-width: 1180px) {
  .wrapper {
    padding: 0 30px; }
    .wrapper .tab__content {
      padding: 10px 60px !important; }
  .activity .row {
    margin: 30px auto; }
  .activity .col-6 {
    margin: 20px; }
  .choose .col-4 {
    margin: 20px; }
  .steps .col-4 {
    display: block;
    margin: 45px auto; }
    .steps .col-4 .number::before {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      position: static;
      display: block;
      margin: 0 auto; } }

@media screen and (max-width: 800px) {
  #gotop a {
    display: none; }
  .Raiders {
    overflow: hidden; }
    .Raiders .row-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .Raiders .txt {
      display: block;
      margin: 0 auto;
      text-align: center; }
      .Raiders .txt a {
        margin: 0 auto; }
  .target-burger.toggled .buns li {
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0); }
    .target-burger.toggled .buns li:last-child {
      -webkit-transform: rotate(-45deg) translateZ(0);
      transform: rotate(-45deg) translateZ(0); }
  .main-nav {
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: rgba(0, 172, 157, 0.9); }
    .main-nav ul {
      padding: 0;
      max-width: 320px;
      width: 100%;
      margin: 32px auto;
      border-radius: 10px;
      padding: 20px;
      text-align: center; }
      .main-nav ul li {
        margin: 20px;
        border-bottom: 1px solid white;
        padding: 10px; }
        .main-nav ul li a {
          font-size: 20px;
          display: block;
          color: white; }
          .main-nav ul li a:hover {
            padding-left: 10px; }
  .main-nav.toggled {
    display: block;
    z-index: 10;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; } }

@media screen and (max-width: 550px) {
  .choose .row {
    margin: 30px auto; }
  .tabs li {
    font-size: 18px; }
  .wrapper {
    margin: 60px auto; }
    .wrapper .sub-title {
      margin-bottom: 36px; }
    .wrapper .tab__content {
      padding: 10px 38px !important; }
      .wrapper .tab__content li h3 {
        line-height: 24px; }
        .wrapper .tab__content li h3 svg {
          top: 5px; }
  .Raiders {
    padding: 60px 20px;
    padding-bottom: 10px; }
    .Raiders .txt a {
      padding: 8px;
      font-size: 18px; }
    .Raiders .txt h3 {
      font-size: 18px; }
    .Raiders .row > img {
      max-width: 84px;
      left: 5px; }
  .steps {
    padding: 60px 15px; }
    .steps .row {
      margin: 30px auto; }
    .steps .btn-group a {
      margin: 6px; }
  .activity {
    margin: 45px 0; }
    .activity .pot p {
      top: 10px;
      right: 0; }
    .activity .col-6 h3 {
      font-size: 20px; }
    .activity .col-6 .con p {
      font-size: 16px; }
      .activity .col-6 .con p span {
        font-size: 20px; }
  .sub-title {
    font-size: 22px !important; }
  .kv {
    background: url(../img/m-bg.jpg);
    background-size: cover;
    min-height: 593px;
    background-position: center;
    padding-top: 46px; }
    .kv .title .btn-group a {
      font-size: 18px;
      margin: 5px; }
      .kv .title .btn-group a b {
        display: none; }
    .kv .title h1 {
      font-size: 30px; }
      .kv .title h1 span {
        font-size: 23px; }
    .kv .title p {
      font-size: 18px;
      position: relative; }
  .activity {
    overflow: hidden; }
    .activity .col-6 {
      width: 85%; }
  .kv .btn-group {
    overflow: hidden; }
  .kv .title .icon-sm {
    max-width: 16px; }
  .kv .title .icon-3 {
    max-width: 46px;
    top: 7px; }
  .kv .title .icon-2 {
    left: 35px;
    top: 87px; }
  .kv .title .icon {
    max-width: 49px; }
  .kv .title .icon-1 {
    left: 8px;
    top: 28px; } }

/*# sourceMappingURL=style.css.map */